MathClient/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AreaOfCube_InputMessage">
    <wsdl:part name="parameters" element="tns:AreaOfCube" />
  </wsdl:message>
  <wsdl:message name="IService1_AreaOfCube_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreaOfCubeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AreaOfRectangularPrism_InputMessage">
    <wsdl:part name="parameters" element="tns:AreaOfRectangularPrism" />
  </wsdl:message>
  <wsdl:message name="IService1_AreaOfRectangularPrism_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreaOfRectangularPrismResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AreaOfCylinder_InputMessage">
    <wsdl:part name="parameters" element="tns:AreaOfCylinder" />
  </wsdl:message>
  <wsdl:message name="IService1_AreaOfCylinder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreaOfCylinderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AreaOfCone_InputMessage">
    <wsdl:part name="parameters" element="tns:AreaOfCone" />
  </wsdl:message>
  <wsdl:message name="IService1_AreaOfCone_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreaOfConeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AreaOfCube">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/AreaOfCube" message="tns:IService1_AreaOfCube_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/AreaOfCubeResponse" message="tns:IService1_AreaOfCube_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AreaOfRectangularPrism">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/AreaOfRectangularPrism" message="tns:IService1_AreaOfRectangularPrism_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/AreaOfRectangularPrismResponse" message="tns:IService1_AreaOfRectangularPrism_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AreaOfCylinder">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/AreaOfCylinder" message="tns:IService1_AreaOfCylinder_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/AreaOfCylinderResponse" message="tns:IService1_AreaOfCylinder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AreaOfCone">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/AreaOfCone" message="tns:IService1_AreaOfCone_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/AreaOfConeResponse" message="tns:IService1_AreaOfCone_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>