MathClient/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AreaOfCube">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfCubeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaOfCubeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfRectangularPrism">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="l" type="xs:double" />
        <xs:element minOccurs="0" name="w" type="xs:double" />
        <xs:element minOccurs="0" name="h" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfRectangularPrismResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaOfRectangularPrismResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfCylinder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r" type="xs:double" />
        <xs:element minOccurs="0" name="h" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfCylinderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaOfCylinderResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfCone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r" type="xs:double" />
        <xs:element minOccurs="0" name="l" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfConeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaOfConeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>